/* test/src/base.css */

.testbed-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.testbed-wrapper > .region-wrapper {
  flex: 0 0 50%;
  overflow: hidden;
}

.testbed-wrapper > .region-wrapper > .region {
  padding: 3%;
  min-height: 360px;
  max-height: 360px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
