/* test/src/base.css */

.testbed-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.testbed-wrapper > .region-wrapper {
  flex: 0 0 50%;
  overflow: hidden;
}

.testbed-wrapper > .region-wrapper--large {
  flex: 0 0 100%;
}

.testbed-wrapper > .region-wrapper > .region {
  padding: 3%;
  height: 360px;
  max-height: 360px;
  border: 2px solid #fafafa;
}

.testbed-wrapper > .region-wrapper > .region--large {
  max-height: 850px;
  height: 850px;
}

.testbed-wrapper > .region-wrapper > .region--auto {
  height: auto;
  max-height: initial;
  min-height: 10vh;
}

.testbed-wrapper .form-test {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.testbed-wrapper .form-test .graph-layer {
  flex: 1;
  overflow: hidden;
}
