<h3>Graph Layer Components / Drive Browser Components</h3>

<div class="testbed-wrapper">
  <div class="region-wrapper">
    <div class="region region--large graph-layer">
      <div
        data-graph-layer="driveBrowser"
        data-graph-layer--browse-users="1"
        data-graph-layer--browse-guests="1"
        data-graph-layer--browse-me="1"
        data-graph-layer--browse-groups="1"
        data-graph-layer--browse-sites="1"
        data-graph-layer--browse-followed-sites="1"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region region--large graph-layer">
      <div data-graph-layer="driveBrowserApplyTest"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region region--large graph-layer">
      <div data-graph-layer="driveBrowserInputTest"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region region--large">
      <form class="form-test" action="./drive-browser/submit-test" method="post">
        <div>
          <input type="text" name="firstName" placeholder="Enter First Name">
        </div>
        <div>
          <input type="text" name="lastName" placeholder="Enter Last Name">
        </div>

        <div class="graph-layer">
          <div
            data-graph-layer="driveBrowser"
            data-graph-layer--domain-label="Tulsa Library"
            data-graph-layer--title="You need to select a drive"
            data-graph-layer--form-element="driveId"
            data-graph-layer--browse-me="1"
            data-graph-layer--browse-users="1"></div>
        </div>

        <hr>

        <div>
          <input type="submit" value="Submit">
        </div>
    </div>
  </div>
</div>
