<h3>Graph Layer Components / Drive Picker Component</h3>

<div class="testbed-wrapper">
  <div class="region-wrapper">
    <div class="region graph-layer">
      <div data-graph-layer="drivePicker" data-graph-layer--form-element="driveId"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region graph-layer">
      <div
        data-graph-layer="drivePicker"
        data-graph-layer--value="{&quot;s&quot;:&quot;user&quot;,&quot;t&quot;:&quot;me&quot;,&quot;i&quot;:&quot;1&quot;}"
        data-graph-layer--groups-off="1"
        data-graph-layer--sites-off="1"></div>
    </div>
  </div>
</div>
