<h3>Graph Layer Components / List Browser Components</h3>

<div class="testbed-wrapper">
  <div class="region-wrapper">
    <div class="region region--large graph-layer">
      <div
        data-graph-layer="listBrowser"
        data-graph-layer--browse-sites="1"
        data-graph-layer--browse-followed-sites="1"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region region--large graph-layer">
      <div data-graph-layer="listBrowserApplyTest"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region region--large graph-layer">
      <div data-graph-layer="listBrowserInputTest"></div>
    </div>
  </div>
</div>
