<h3>Graph Layer Components / User Component</h3>

<div class="testbed-wrapper">
  <div class="region-wrapper">
    <div class="region graph-layer">
      <div><b>Me</b></div>
      <hr>
      <div data-graph-layer="user" data-graph-layer--me="1"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region graph-layer">
      <div><b>Me (Anonymous)</b></div>
      <hr>
      <div data-graph-layer="user" data-graph-layer--anonymous="yes" data-graph-layer--me="1"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region graph-layer">
      <div data-graph-layer="userInputTest"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region graph-layer">
      <div data-graph-layer="userInputTest"></div>
    </div>
  </div>
  <div class="region-wrapper">
    <div class="region graph-layer">
      <div data-graph-layer="userInputTest"></div>
    </div>
  </div>
</div>
