/* themes/default.css */

.graph-layer--theme-default {
  /* General properties: */
  --graph-layer-color-black: #000;
  --graph-layer-color-soft-black: #555;
  --graph-layer-color-light-gray: #eee;
  --graph-layer-color-dark-gray: rgba(0,0,0,0.54);
  --graph-layer-color-primary: #3185fc;
  --graph-layer-color-secondary: #34e5ff;
  --graph-layer-color-accent: #b74f6f;

  /* Base elements */
  --graph-layer-caption-color: var(--graph-layer-color-dark-gray);
  --graph-layer-anchor-color: var(--graph-layer-color-primary);

  /* User */
  --graph-layer-user-avatar-border-color: var(--graph-layer-color-black);
  --graph-layer-user-avatar-shadow-color: var(--graph-layer-color-soft-black);
  --graph-layer-user-avatar-color: var(--graph-layer-color-soft-black);

  /* Drive */
  --graph-layer-drive-row-border-color: var(--graph-layer-color-light-gray);
  --graph-layer-drive-item-selected-background-color: var(--graph-layer-color-light-gray);
}
